.customers {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    flex-wrap: wrap;
    align-items: center;
}

.customers img {
    flex-basis: 10%;
    height: 51px;
    width: auto;
}

.vector img {
    height: 32px;
    width: auto;
}

.microsoft img {
    height: 35px;
    width: auto;
}