.customers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers img {
    height: 40px;
    width: auto;
}

@media (max-width:768px){
    .customers{
        flex-direction: column;
        gap: 72px;
    }
}

