.customers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers img {
    height: 2.5rem;
}

@media (max-width:768px){
    .customers{
        flex-direction: column;
        gap: 4.5rem;
    }
}

