.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 95%);
    padding: 40px 120px;
}   
.footer-logo img{
    width: 50px;
    height: auto;
}
.footer-contact{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px 40px;
}
.footer-section{
    display: flex;
    gap: 120px;
}
.social-media{
    display: flex;
    gap: 20px;
}
