.logo{
    width: 120px;
    height: auto;
}
.hero-header {
    background-image: url("./images/bg-header-desktop.png");
    background-size: cover;
    background-position: center;
    height: 355px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-txt-container{
    position: relative;
    bottom: 50px;
}
.hero-action {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn {
    padding: 15px 38px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    color: rgb(243, 240, 240);
    font-size: 17px;
}
.primary-btn {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 0 12px hsla(171, 66%, 44%, 0.6);
}

.primary-btn:hover {
    background-color: hsl(171, 59%, 52%);
}

.secondary-btn {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 0 12px hsla(233, 100%, 69%, 0.6);
}

.secondary-btn:hover {
    background-color: hsl(233, 96%, 72%);
}