.hero-container {
  background-image: url("./images/bg-header-desktop.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 8rem 0;
}

.herologo-container {
  margin: 4rem auto 2rem auto;
}

.herologo-container img {
  width: 8rem;
}

@media (max-width: 768px) {
  .hero-container {
    background-image: url("./images/bg-header-mobile.png");
    margin: 0 0px 9rem 0px;
    padding: 0 0.75rem;
  }

}