.feature-img-container {
    position: relative;
    width: 50%;
}

.mac-feature-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 110%;
}

.mac-container {
    display: flex;
}

.tracking-features {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    gap: 3.5rem;
    align-items: center;
    padding: 3rem;
}

.feature-heading {
    font-weight: 590;
    font-size: 1.5rem;
    margin-bottom: 1rem ;
}

.feature-description{
    max-width: 27rem;
}

@media (max-width:768px) {
    .mac-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-img-container {
        width: 100%;
        position: static;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .mac-feature-img {
        position: static;
        width: 100%;
        max-width: 22rem;
    }

    .tracking-features {
        width: 100%;
        padding: 0;
    }

    .feature-description {
        max-width: 100%;
    }

}

@media (max-width:1024px){
    .mac-feature-img{
        top: 4rem;
    }
    .mac-feature-img{
        width: 120%;
    }
}