.keyfeature-title {
  font-size: 24px;
  font-weight: 600;
  margin: 24px 0 16px 0;
}

.keyfeature-description {
max-width: 26rem;  
}

.info-box {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
 
}

.keyfeature {
  text-align: center;
}

@media (max-width: 768px) {
  .info-box{
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
}

