.description{
    max-width: 55%;
    line-height: 28px;
}
.mac-feature-img {
    position: relative;
    right: 60px;
    height: auto;
    width: 770px;
}

.mac-container {
    display: flex;
    gap: 54px;
}
.tracking-features{
    display: flex;
    flex-direction: column;
    gap: 54px;
    margin-top: 80px;
}
.snippet-container{
    display: flex;
    flex-direction: column;
    gap: 78px;
}
.feature-container{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.feature-heading{
    font-weight: 590;
    color: hsl(210, 10%, 33%);
    font-size: larger;
}
.feature-description{
    line-height: 28px;
    max-width: 65%;
    color: hsl(201, 11%, 66%);
    font-size: smaller;   
}
