.feature-img-container{
    position: relative;
    width: 50%;
}

.mac-feature-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 110%;
}

.mac-container {
    display: flex;
    flex-direction: row;
}
.tracking-features{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    gap: 54px;
    padding: 96px;
}
.snippet-container{
    display: flex;
    flex-direction: column;
}
.feature-container{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.feature-heading{
    font-weight: 590;
    font-size: larger;
}
.feature-description{
    max-width: 21rem;
    font-size: smaller;   
}
