.description{
    max-width: 55%;
    line-height: 28px;
}
.mac-feature-img {
    position: relative;
    right: 60px;
    height: auto;
    width: 770px;
}

.mac-container {
    display: flex;
    gap: 54px;
}
.mac-box{
    display: flex;
    flex-direction: column;
    gap: 54px;
    margin-top: 80px;
}
.snippet-container{
    display: flex;
    flex-direction: column;
    gap: 78px;
}