
.mac-feature-img {
    position: relative;
    width: 50%;
}

.mac-feature-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 110%;
}

.mac-container {
    display: flex;
    flex-direction: row;
}
.tracking-features{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    gap: 54px;
    padding: 48px;
}
.snippet-container{
    display: flex;
    flex-direction: column;
}
.feature-container{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.feature-heading{
    font-weight: 590;
    color: hsl(210, 10%, 33%);
    font-size: larger;
}
.feature-description{
    max-width: 65%;
    color: hsl(201, 11%, 66%);
    font-size: smaller;   
}
