.platform-available {
    display: flex;
    flex-direction: column;
}
.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    font-size: 700;
    color: hsl(210, 10%, 33%);
}
.title{
    font-weight: 600;
    font-size: 27px;
}
.description{
    color: hsl(201, 11%, 66%);
    max-width: 46%;
    font-size: 16px;
    line-height: 1.5;
}
