body {
    font-size: 19px;
    font-family: "Bai Jamjuree";
    margin: 1px 0 0 0;
}
.txt-center {
    text-align: center;
}


.primary-txt-clr {
    color: hsl(210, 10%, 33%);
}

.secondary-txt-clr {
    color: hsl(201, 11%, 66%);
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    font-size: 700;
    color: hsl(210, 10%, 33%);
}
.title{
    font-weight: 605;
    font-size: 37px;
}
.description{
    color: hsl(201, 11%, 66%);
    max-width: 50%;
}