body {
    font-size: 19px;
    font-family: "Bai Jamjuree";
}

.hero-bg-img {
    background-image: url("./images/bg-header-desktop.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 48px;
}

.history {
    font-size: 40px;
    font-weight: bolder;
}

.subtitle {
    text-align: center;
    color: #777;
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 12px 27px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    color: white;
    font-size: 15px;
}

.ios-btn {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 0 12px hsla(171, 66%, 44%,0.6);
}
.ios-btn:hover{
    background-color: hsl(171, 59%, 52%);
}
.mac-btn {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 0 12px hsla(233, 100%, 69%,0.6);
}
.mac-btn:hover{
    background-color: hsl(233, 96%, 72%);
}